<footer class="ui vertical footer segment form-page">
    <div class="ui container">
        <div class="ui stackable relaxed centered grid">
            <div class="four wide column">
                <h4 class="ui header">{{ dictionary.footer.social_network }}</h4>
                <div class="ui">
                    <a class="item" href="" target="_blank"><i class="facebook  icon footer-icon"></i></a>
                    <a class="item" href="" target="_blank"><i class="twitter   icon footer-icon"></i></a>
                    <a class="item" href="" target="_blank"><i class="instagram icon footer-icon"></i></a>
                    <a class="item" href="" target="_blank"><i class="linkedin  icon footer-icon"></i></a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui header">{{ dictionary.footer.quick_links }}</h4>
                <div class="ui link list">
                    <a class="item" href="" target="_blank">  {{ dictionary.footer.security_assistance }} </a>
                    <a class="item" href="" target="_blank">  {{ dictionary.footer.legal_notice }} </a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui header">{{ dictionary.footer.about }}</h4>
                <div class="ui link list">
                    <a class="item" href="" target="_blank">  {{ dictionary.footer.security_assistance }} </a>
                    <a class="item" href="" target="_blank">  {{ dictionary.footer.legal_notice }} </a>
                </div>
            </div>
            <div class="two wide column">
                <img class="footer-logo" src="{{ asset('img/logo.png') }}" alt="Logo">
            </div>
        </div>
        <p class="footer-outro">© 2019 Université de Lorraine</p>
    </div>

    {{ view_event(app.request.uri) }}
</footer>