{% extends 'Utility/layout.twig' %}

{% block body %}

    {% set i18n = dictionary.admin_tools.check_user %}

    <div class="ui twelve column stackable center aligned page grid">
        <div class="ui container">
            <h1 class="ui center aligned header">{{ i18n.name }}</h1> <br>
            <form method='post' id="form-student" name="form-student">
                <div id='search-bar' class="ui left icon big fluid action input">
                    <input required pattern=".{3,}" title="3 characters minimum" type="text" id="student_name" name='name' placeholder="{{ i18n.placeholder }}...">
                    <i class="address book icon"></i>
                    <button id='search' class="ui submit button">{{ i18n.search}}</button>
                    <!-- <input type="hidden" name="_csrf_token" value=""> -->
                </div>
            </form>

            {% if not_found is defined %}
                <h1 class="ui header">{{ i18n.no_results }}</h1>
            {% endif %}


            {% if result is defined %}
                <table class="ui celled table">
                    <thead>
                        <tr>
                            <th>Property</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for key, value in result.user %}
                        {% if value is not empty and value is not iterable %}
                            <tr>
                                <td data-label="Property">{{ key }}</td>
                                <td data-label="Value">{{ value }}</td>
                            </tr>
                        {% elseif value is not empty %}
                            <tr>
                                <td data-label="Property">
                                    {{ key }}
                                </td>
                                <td style="padding:0;" data-label="Value">
                                    <table  class=" ui celled  table">
                                        <thead class="toggable">
                                        <tr>
                                            <th style="cursor: pointer; text-transform:capitalize"> <i class="dropdown icon"></i>{{ key }} property</th>
                                            <th style="cursor: pointer; text-transform:capitalize"> <i class="dropdown icon"></i>Value</th>

                                        </tr>
                                        </thead>
                                        <tbody style="display: none;" class="toggle_hide">
                                        {% for subkey, subvalue in value %}
                                            <tr>
                                                <td>
                                                    {{ subkey }}
                                                </td>
                                                <td>
                                                    {{ subvalue }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                        {% endif %}
                    {% endfor %}
                        <tr class="">
                            <td data-label="Property">Enrollment</td>
                            <td style="padding:0;" data-label="Value">
                                <table class=" ui celled table">
                                    <thead class="toggable">
                                        <tr>
                                            {% for role, classes in result.enrollments  %}
                                                <th style="cursor: pointer; text-transform:capitalize"> <i class="dropdown icon"></i> {{ role }}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody style="display: none;" class="toggle_hide">
                                    {% for role, classes in result.enrollments  %}
                                        <td>
                                        {% for class in classes  %}
                                            <span class="user-popup" data-variation="inverted" data-title="{{ class.id }}">
                                                <a href="{{ path('check-class', {'classId': class.id}) }}">
                                                    {{ class.title|length > 40 ? class.title|slice(0, 40) ~ '...' : class.title  }}
                                                </a> <br>
                                            </span>
                                        {% endfor %}
                                        </td>

                                    {% endfor %}
                                    </tbody>
                                </table>
                           </td>
                        </tr>

                    {% if result.results is not empty %}
                        <tr>
                            <td data-label="Property">Results</td>
                            <td style="padding:0;" data-label="Value">
                                <table class=" ui sortable table">
                                    <thead>
                                        <tr>
                                            <th>Class</th>
                                            <th>LineItem</th>
                                            <th>Result</th>
                                            <th>Source</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    {% for classId, results in result.results  %}
                                        {% for result in results %}
                                            <tr>
                                                <td class="user-popup" data-variation="inverted"
                                                    data-title="{{  result.classTitle }}"
                                                    data-html="
                                                      Date: {{ result.date|date("m-d-Y H:m") }} <br>
                                                      Type: {{ result.type }}
                                                ">
                                                    {{ classId }}
                                                </td>
                                                <td>{{ result.lineitem }}</td>
                                                <td data-sort-value="{{ result.score }}">{{ result.score }}</td>
                                                <td>{{ result.source }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>


            {% endif %}
        </div>
    </div>


<br> <br> <br>

    <script src="{{ asset('js/library/jquery.tablesort.min.js') }}"></script>
    <script>
        $(function () {
            $('.user-popup').popup();
            $('.toggable').click(function() {
                $(this).next('tbody').fadeToggle();
            });

            $('.sortable').tablesort();

            $('form').submit(function(event) {
                event.preventDefault();
                let slug = $('#student_name').val();
                let path =  "{{ path('check-user', {'userId': 'user_id'}) }}";
                path = path.replace("user_id", slug);
                location.href = path;
            })
        });
    </script>
{% endblock %}

