{% extends 'Utility/layout.twig' %}

{% block body %}

    {% set i18n = dictionary.admin_tools.check_user %}

    <div class="ui twelve column stackable center aligned page grid">
        <div class="ui container">
            <h1 class="ui center aligned header">{{ i18n.name }}</h1> <br>
            <form method='post' id="form-student" name="form-student">
                <div id='search-bar' class="ui left icon big fluid action input">
                    <input required pattern=".{3,}" title="3 characters minimum" type="text" id="student_name" name='name' placeholder="{{ i18n.placeholder }}...">
                    <i class="address book icon"></i>
                    <button id='search' class="ui submit button">{{ i18n.search}}</button>
                    <!-- <input type="hidden" name="_csrf_token" value=""> -->
                </div>
            </form>

            {% if not_found is defined %}
                <h1 class="ui header">{{ i18n.no_results }}</h1>
            {% endif %}


            {% if result is defined %}
                <table class="ui celled table">
                    <thead>
                        <tr>
                            <th>Property</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for key, value in result.user %}
                        {% if value is not empty and value is not iterable %}
                            <tr>
                                <td data-label="Property">{{ key }}</td>
                                <td data-label="Value">{{ value }}</td>
                            </tr>
                        {% elseif value is not empty %}
                            <tr>
                                <td data-label="Property">
                                    {{ key }}
                                </td>
                                <td style="padding:0;" data-label="Value">
                                    <table  class=" ui celled inverted  table">
                                        <thead class="toggable">
                                        <tr>
                                            <th style="cursor: pointer; text-transform:capitalize"> <i class="dropdown icon"></i>{{ key }} property</th>
                                            <th style="cursor: pointer; text-transform:capitalize"> <i class="dropdown icon"></i>Value</th>

                                        </tr>
                                        </thead>
                                        <tbody style="display: none;" class="toggle_hide">
                                        {% for subkey, subvalue in value %}
                                            <tr>
                                                <td>
                                                    {{ subkey }}
                                                </td>
                                                <td>
                                                    {{ subvalue }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                        {% endif %}
                    {% endfor %}
                        <tr class="">
                            <td data-label="Property">Enrollment</td>
                            <td style="padding:0;" data-label="Value">
                                <table  class=" ui celled inverted table">
                                    <thead class="toggable">
                                    <tr>
                                        {% for role, classes in result.enrollments  %}
                                            <th style="cursor: pointer; text-transform:capitalize"> <i class="dropdown icon"></i> {{ role }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody style="display: none;" class="toggle_hide">
                                    {% for role, classes in result.enrollments  %}
                                        <td>
                                        {% for class in classes  %}
                                            <span class="user-popup" data-variation="inverted" data-title="{{ class.title }}">
                                                <a href="{{ path('check-class', {'classId': class.id}) }}">{{ class.id }}</a> <br>
                                            </span>
                                        {% endfor %}
                                        </td>
                                    {% endfor %}
                                    </tbody>
                                </table>
                           </td>
                        </tr>

                    {% if result.results is not empty %}
                        <tr class="">
                            <td data-label="Property">Results</td>
                            <td data-label="Value">
                                {% for classId, value in result.results  %}
                                        <span class="user-popup" data-variation="inverted"
                                           data-title="{{  value.classTitle }}"
                                           data-html="
                                           Source: {{ value.source }} <br>
                                           Date: {{ value.date|date("m-d-Y H:m") }} <br>
                                           Type: {{ value.type }}
                                        ">
                                              {{ value.score }} in <b>{{ classId }}</b>
                                        </span>


                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>


            {% endif %}
        </div>
    </div>


<br> <br> <br>
    <script>
        $(function () {
            $('.user-popup').popup();
            $('.toggable').click(function() {
                $(this).next('tbody').toggle();
            });

            $('form').submit(function(event) {
                event.preventDefault();
                let slug = $('#student_name').val();
                let path =  "{{ path('check-user', {'userId': 'user_id'}) }}";
                path = path.replace("user_id", slug);
                location.href = path;
            })
        });
    </script>
{% endblock %}

