{% extends 'Utility/layout.twig' %}

{% block body %}
    {% set i18n = dictionary.class %}
    <link rel="stylesheet" href="{{ asset('css/library/datepicker.min.css') }}">
    <div class="ui grid">
        <div class="one wide column"></div>
        <div class="fourteen wide column">
            <div class="ui stackable grid">
                <div class="fourteen wide column">
                    <span class="page-title ">{{ i18n.title }} "{{ class.title }}"</span>
                    <div class="page-description">{{ class.metadata.summary|striptags }}</div>
                </div>
            </div>

            <div class="ui active tab" data-tab="first">
                <div class="ui negative big message">
                    <div class="header">{{ i18n.professor_view }}</div>
                </div>
            </div>
        </div>
        <!--  <div id='my-results' class="ui tab" data-tab="second"></div> -->
    </div>

{% endblock %}



