<nav id='navbar' class="ui borderless top inverted fixed menu">
    <a id='open-menu' class="toc item mobile only tablet only">
        <span id="menu">{{ dictionary.tabs.menu }}</span>
        <div id="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </a>
    <div class="ui container">
        <div class="header item mobile hidden tablet hidden">
            <img class="logo" src="{{ asset('img/logo.png') }}"> &nbsp;
            | <span> Analytics</span>
        </div>
        <div class="ui pointing dropdown link item mobile hidden tablet hidden">
            <span id="current-language" class="text"><i class="large globe icon"></i>{{ dictionary.self_name }}</span>
            <i class="dropdown icon"></i>
            <div id='language-list' class="ui inverted menu">
                {% for language, id in languages() %}
                    <a class="item" href="{{ path('home', {'_locale': id}) }}">
                        <span class="text">{{ language }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
        {% if auth().isAdmin %}
            <div class="ui pointing dropdown link item mobile hidden tablet hidden">
                <span class="text"> <i class="large archive icon"></i>{{ dictionary.admin_tools.self_name }}</span>
                <i class="dropdown icon"></i>
                <div class="ui inverted menu">
                    {% for tool in adminTools %}
                        <a class="item" href="{{ path(tool.route) }}">
                            <span class="text">
                                <i class="{{ tool.icon }} icon"></i> {{ tool.name }}
                            </span>
                        </a>
                    {% endfor %}
                </div>
            </div>

            {% if auth().professorMode %}
                <a href="{{ path('leave-professor-view') }}">
                    <div class="ui blue basic label professor-mode">
                        <span id="professor-mode" style="color:#B51C15">
                            <i class="close icon"></i>
                            {{ dictionary.admin_tools.professor_mode.self_name }}
                        </span>
                    </div>
                </a>
            {% endif %}

        {% endif %}
        <div class="right menu">
            {% if not auth().isLogged %}
                <a href="{{ path('login') }}" class="item">
                    <i class="sign in icon"></i> {{ dictionary.tabs.login }}
                </a>
            {% else %}
                <a href="{{ path('profile') }}" class="item">
                    <i class='large user circle icon'></i>{{ auth().name }}
                </a>
                <a href="{{ path('home') }}" class="item tablet or lower hidden">
                    {{ dictionary.tabs.home}}
                </a>
                <div class="ui pointing dropdown link item">
                    <i class="dropdown icon"></i>
                    <div class="ui inverted menu">
                        <a class="item" href="{{ path('logout') }}">
                            <span class="inverted text"><i class="sign out icon"></i> {{ dictionary.tabs.logout }}</span>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</nav>