{% set i18n = dictionary.class.tab_one.chart_two %}

<h3 class="ui top attached header">{{ i18n.name }}</h3>
<div class="row score-chart-padding">
    <strong>{{ i18n.chart_title }}</strong>
</div>
<div style="width: 100%" class="ui grid">
    <div class="sixteen wide column">
        <div id="chart_two" class="row">
            <canvas height="120" id="evolution_chart"></canvas>
        </div>
    </div>
    <div class="eight wide column">
        <strong>{{ i18n.legend.name }}</strong>
        <br><br>
        <svg width="25" height="4">
            <rect width="300" height="50" style="fill:rgb(3,155,229);" ></rect>
        </svg>
        &nbsp; {{ i18n.legend.my_score }}
    </div>

    <div class="eight wide column">
        <strong>{{ i18n.legend.display }}</strong>
        <br><br>
        <div class="ui checkbox">
            <input type="checkbox">
            <label>{{ i18n.legend.average_grade }}</label>
        </div>
    </div>

    <div class="four wide column">
        <br>
        <i class="massive orange circle question icon"></i>
    </div>

    <div class="twelve wide column">
        <h3>{{ i18n.advice.name }}</h3>
        <p>{{ i18n.advice.description }}</p>
        <p>{{ i18n.advice.more }}</p>
    </div>

        <!--<div id='chart-two-tools' class="row">
            {{ i18n.legend.display }}: <br>
            <br>
            <div class="ui checkbox">
                <input type="checkbox">
                <label>{{ i18n.legend.average_grade }}</label>
            </div>
            <br> <br>
            <div class="ui checkbox">
                <input type="checkbox">
                <label>{{ i18n.legend.standard_deviations }}</label>
            </div>
        </div>
    </div>-->
</div>

<!--<div class="row">
    <div class="ui container">

        <div class="slides">
            <i id='left-arrow' class="big left angle icon"></i>
            <i id='right-arrow' class="big right angle icon"></i>
            <div class="inverted salmon faded slide active">
                <h1> {{ i18n.advice_advanced.name }} 1/3 </h1>
                <p> {{ i18n.advice_advanced.more_resource_checking }} </p>
                <button class="ui right floated basic button">
                    <i class="check icon"></i>{{ i18n.advice_advanced.follow }}
                </button>
            </div>
            <div class="inverted salmon faded slide">
                <h1> {{ i18n.advice_advanced.name }} 2/3 </h1>
                <p> {{ i18n.advice_advanced.ask_question_forum }}</p>
                <button class="ui right floated basic button">
                    <i class="check icon"></i>{{ i18n.advice_advanced.follow }}
                </button>
            </div>
            <div class="inverted salmon faded slide">
                <h1> {{ i18n.advice_advanced.name }}  3/3 </h1>
                <p> {{ i18n.advice_advanced.periodically_course_checking }}</p>
                <button class="ui right floated basic button">
                    <i class="check icon"></i>{{ i18n.advice_advanced.follow }}
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <p align="left"><strong>{{ i18n.contact.name }}</strong></p>
    <div class="ui five column grid">
        <div class="row">
            <div class="centered column">
                <button class="ui huge circular icon button score-action">
                    <i class="large question icon"></i>
                </button>
                <br>
                <span class="score-action">{{ i18n.contact.ask_help }}</span>
            </div>
            <div class="centered column">
                <button class="ui huge circular icon button score-action">
                    <i class="large paper plane icon"></i>
                </button>
                <br>
                <span class="score-action">{{ i18n.contact.send_dashboard }}</span>
            </div>
            <div class="centered column">
                <button class="ui huge circular icon button score-action">
                    <i class="large tasks icon"></i>
                </button>
                <br>
                <span class="score-action">{{ i18n.contact.help_follow_up }}</span>
            </div>
        </div>
    </div>
</div>-->


{% block javascripts %}
<script>
$(document).ready ( () => {

    let labels = [];
    let scores = {{ scores|json_encode|raw }};

    for (let i = 1; i < 8; i++){
        labels[i-1] = '{{ i18n.legend.week }} ' + i
    }

    let data = getScoreForObjective(scores, 10);

    const progressChart = evolutionChart($("#evolution_chart"), data, labels);

    window.addEventListener('updateObjective', function (e) {
        let objective = e.detail;
        data = getScoreForObjective(scores, objective);
        updateEvolutionChart(progressChart, data);
    }, false);


    // Slider

    //$('#right-arrow')
    //    .on('click', function() {
    //       $('.slide')
    //           .siblings('.active:not(:last-of-type)')
    //           .removeClass('active')
    //           .next()
    //           .addClass('active');
    //   });

    //$('#left-arrow')
    //    .on('click', function() {
    //        $('.slide')
    //            .siblings('.active:not(:first-of-type)')
    //            .removeClass('active')
    //            .prev()
    //            .addClass('active');
    //    });
//
});

/**
 * Get the scores for an objective given
 *
 * @param weekScores
 * @param target
 * @returns {Array}
 */
getScoreForObjective = (weekScores, target) => {
    let scores = [];

    $.each(weekScores, function(key, value ) {
        if (value === null) {
            scores.push(0);
        } else {
            scores.push(value[target])
        }
    });

    return scores;
};


/**
 * Update the data of the progress chart
 *
 * @param chart
 * @param scores
 * */
updateEvolutionChart = (chart, scores) => {
    chart.data.datasets[0].data = scores;
    chart.update();
};


/**
 * Create the progression chart
 *
 * @param domId
 * @param scores
 * @param labels
 * @returns {Chart}
 */
evolutionChart = (domId, scores, labels) => {
    return new Chart(domId, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: '{{ i18n.legend.my_score }}',
                borderColor: '#039be5',
                data: scores,
                fill: false
            }]
        },
        options: {
            legend: {
                display: false
            },
            elements: {
                line: {
                    tension: 0
                }
            },
            scales: {
                yAxes: [{
                    display: true,
                    ticks: {
                        max: 100,
                        beginAtZero: true,
                        callback: function(value, index, values) {
                            return value + '%';
                        }
                    },
                }]
            },
            tooltips: {
                callbacks: {
                    label: function(tooltipItem, data) {
                        let dataset = data.datasets[tooltipItem.datasetIndex];
                        let currentValue = dataset.data[tooltipItem.index];
                        return ' ' + currentValue + '%';
                    },
                    title: function(tooltipItem, data) {
                        return data.labels[tooltipItem[0].index];
                    }
                }
            },
        }
    });
}
</script>
{% endblock %}
