
<nav class="ui black borderless top inverted fixed menu">
    <a href="{{ path_for('home') }}" class="header item">
        <img src="{{ asset('img/ul_logo.png') }}" style="width:100px;"> &nbsp; <span id="logo">| &nbsp; ANALYTICS</span>
    </a>
    <a class="item">
        <i class="globe icon"></i> Français
    </a>

    <div class="right menu">
        {% if not auth().isLogged %}
            <a href="{{ path_for('login') }}" class="item">
                <i class="sign in icon"></i> Connexion
            </a>
        {% else %}
                <div class="ui pointing dropdown link item">
                    <span id="user" class="text"> {{ auth().username }}</span>
                    <i class="dropdown icon"></i>
                    <div id='menu' class="menu">
                            <div class="ui red header">ACTIONS ADMINISTRATEUR</div>
                            <div class="item">
                                <a href="{{ path_for('users') }}">
                                    <span class="ui text"><i class="users icon"></i> Afficher les utilisateurs</span>
                                </a>
                            </div>
                            <div class="item">
                                <span class="text"><i class="cogs icon"></i> Action 2</span>
                            </div>
                        <div class="ui red header">ACTIONS UTILISATEUR</div>

                        <div class="item">
                            <span class="text"><i class="user icon"></i> Mon profil</span>
                        </div>

                        <div class="item">
                            <a href="{{ path_for('logout') }}">
                                <span class="inverted text"><i class="sign out icon"></i> Déconnexion</span>
                            </a>
                        </div>
                    </div>
            </div>
        {% endif %}
    </div>

</nav>

