
<nav class="ui borderless top inverted fixed menu">
    <a href="{{ path_for('home') }}" class="header item">
        <img src="{{ asset('img/ul_logo.png') }}" style="width:100px;"> &nbsp; | &nbsp; ANALYTICS
    </a>
    <a class="item">
        <i class="leaf icon"></i> Onglet 1
    </a>
    <a class="item">
        <i class="leaf icon"></i> Onglet 2
    </a>
    <div class="right menu">
        {% if user is null %}
            <a href="{{ path_for('login') }}" class="item">
                <i class="sign in icon"></i> Connexion
            </a>
        {% else %}
                <div class="ui pointing dropdown link item">
                    <span class="text"> {{ user }}</span>
                    <i class="dropdown icon"></i>
                    <div id='menu' class="menu">
                            <div class="ui red header">ACTIONS ADMINISTRATEUR</div>
                            <div class="item">
                                <span class="ui red-text text"><i class="cogs icon"></i> Action 1</span>
                            </div>
                            <div class="item">
                                <span class="text"><i class="cogs icon"></i> Action 2</span>
                            </div>
                        <div class="ui red header">ACTIONS UTILISATEUR</div>

                        <div class="item">
                            <span class="text"><i class="user icon"></i> Mon profil</span>
                        </div>
                        <div class="item">
                            <a href="{{ path_for('logout') }}">
                                <span class="inverted text"><i class="sign out icon"></i> Déconnexion</span>
                            </a>
                        </div>
                    </div>
            </div>
        {% endif %}
    </div>

</nav>

