
<nav id='navbar' class="ui borderless top inverted fixed menu">
    <a href="{{ path('home')}}" class="header item">
        <img src="{{ asset('img/ul_logo.png') }}" style="width:100px;"> &nbsp;&nbsp; | <span id="logo"> Analytics</span>
    </a>
    <div class="ui pointing dropdown link item">
        <span id="current-language" class="text"><i class="globe icon"></i>Français</span>
        <i class="dropdown icon"></i>
        <div id='language-list' class="menu">
            <div class="item">
                <a href="{{ path_for('home', {'country' : 'fr'})}}">
                    <span class="ui text">Français</span>
                </a>
            </div>
            <div class="item">
                <a href="{{ path_for('home', {'country' : 'en'})}}">
                    <span class="ui text">English</span>
                </a>
            </div>
            <div class="item">
                <a href="{{ path_for('home', {'country' : 'de'})}}">
                    <span class="ui text">German</span>
                </a>
            </div>
        </div>
    </div>

    <div class="right menu">
        {% if not auth().isLogged %}
            <a href="{{ path_for('login') }}" class="item">
                <i class="sign in icon"></i> {{ translate('login') }}
            </a>
        {% else %}
                <div class="ui pointing dropdown link item">
                    <span id="user" class="text"> {{ auth().name }}</span>
                    <i class="dropdown icon"></i>
                    <div id='menu' class="menu">
                            <div class="ui red header">ACTIONS ADMINISTRATEUR</div>
                            <div class="item">
                                <a href="">
                                    <span class="ui text"><i class="users icon"></i> Afficher les utilisateurs</span>
                                </a>
                            </div>
                            <div class="item">
                                <span class="text"><i class="cogs icon"></i> Action 2</span>
                            </div>
                        <div class="ui red header">ACTIONS UTILISATEUR</div>

                        <div class="item">
                            <span class="text">
                                <a href="{{ path('user-profile', {'id': auth().username} ) }}">
                                    <i class="user icon"></i>{{ translate('profile') }}
                                </a>
                            </span>
                        </div>

                        <div class="item">
                            <a href="{{ path_for('logout') }}">
                                <span class="inverted text"><i class="sign out icon"></i> {{ translate('logout') }}</span>
                            </a>
                        </div>
                    </div>
            </div>
        {% endif %}
    </div>
</nav>

