{% extends 'Utility/layout.twig' %}
{% set icons = {'Viewed' : 'eye'} %}

{% block body %}

<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
            <span class="profile-name">Mes événements sur "{{ class.title }}"</span>
            <div class="page-description">{{ class.metadata.summary|striptags }}</div>
        <div class="ui pointing secondary menu">
            <a style="width:50%; text-align:center;" class="item active" id='summary' data-tab="first">Mes dernières actions</a>
            <a style="width:50%; text-align:center;" id='results-tab' class="item" data-tab="second">Mes notes</a>
        </div>
        <div class="ui active tab" data-tab="first">
            <ul class="cbp_tmtimeline">
                {% for event in events %}
                    <li>
                        <p class="cbp_tmtime">
                            <span>{{ event.eventTime|date("m/d/Y") }}</span>
                            <span>{{ event.eventTime|date("H:i") }}</span>
                        </p>
                        {% if event.action == 'Viewed' %}
                        <div class="cbp_tmicon"> <i class="eye icon"></i></div>
                        <div class="cbp_tmlabel">
                                <h2>Ouverture d'une ressource</h2>
                        {% elseif event.action == 'Submitted' %}
                        <div class="cbp_tmicon"> <i class="file alternate icon"></i></div>
                        <div class="cbp_tmlabel">
                            <h2>Dépôt d'un devoir</h2>
                        {% else %}
                         <div class="cbp_tmicon"> <i class="file icon"></i></div>
                         <div class="cbp_tmlabel">
                            <h2>{{ event.action }}</h2>
                        {% endif %}
                            <p>{{ event.object.name }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id='my-results' class="ui tab" data-tab="second">
            <br> <br>
            <div id='results' class="ui middle aligned divided list"></div>
        </div>
    </div>
    <div class="one wide column"></div>
</div>

<script>
    $(function () {
        let done = false;
        $('#results-tab').on('click', function(e) {
            if (!done) {
                $('#results').empty(); // Errors create a message and does not set DONE variable true.
                $('#my-results').addClass('loading');
                $.ajax({
                    url: "{{ path('class-results', {'id': class.sourcedId }) }}",
                    type: 'GET',
                    success: (response) => {
                        $('#my-results').removeClass('loading');
                        done = true;
                        $.each(response, function (k, v) {
                            $('#results').append(
                                $('<div>').addClass('item').append(
                                    $('<div>').addClass('right floated content').append(
                                        $('<h4>').text(v.score),
                                    ),
                                    $('<i>').addClass('file outline icon'),
                                    $('<div>').addClass('content').append(
                                        $('<b>').text(v.title),
                                    ),
                                )
                            ).transition('fade in')
                        });

                    },
                    fail: (response) => {
                        console.log('AJAX Call error')
                    },
                    error: (xhr) => {
                        if(xhr.status === 404) {
                            $('#my-results').removeClass('loading');
                            $('#results').append(
                                $('<h2>').addClass('item').text("Aucune note disponible.")
                            ).transition('fade in');
                        }
                    }
                })
            }
        });

    });
</script>

{% endblock %}